html{
    box-sizing:border-sizing;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body{
    background-color: #e4e4e4;
}

#root{
    margin-top: 2em;
    padding: 2em;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
      0px 10px 20px rgba(0,0,0,0.05),
      0px 20px 20px rgba(0,0,0,0.05),
      0px 30px 20px rgba(0,0,0,0.05);
      background-color:#9975b9; 
      color:white;
 }
 
 #container{
     display:flex;
     font-family:  sans-serif,Helvetica,Arial;
 }

 .leftDiv{
     margin-top:1.7em;
     width:40%;
    height: 10em;
     border-bottom: 2px solid #9975b9;
     box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
       padding:1em;
       line-height: 2em;
       margin-right: 10em;     
 }

 .rightDiv{
    width:40%; 
 }

 ul{
    margin-top:1.7em;
    border-bottom: 2px solid #9975b9;
     box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
       padding:2em; 
 }

 ul li{
    list-style-type:none;
    margin-bottom: 1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 
 span{
    grid-column-end: span 1; 
    padding-top: 0.3em;
    border-radius: 10%;
    width: 2em;
    height: 1.5em;
    text-align: center;
    color:white;
    background-color: #9975b9;
   
}

 img{
    grid-column-end: span 1;
     width:3em;
     height: 3em;
     border-radius: 10%;
 }

 p{
    grid-column-end: span 2; 
     display: inline;
     
 }
 
  select{
     height:2em;
 }
 
 
 
